{% extends 'store/base.html' %}

{% load static %}

{% block content %}

<section id="banner_home">
  <div class="marketpy_container_fluid">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        {% include 'store/global/components/banner_carousel.html' %}
      </div>
    </div>
  </div>
</section>

<section id="benefit_section">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_4">
        <div class="benefit_inner">
          <img src="{% static 'img/icons/01.svg' %}">
          <span>Aliquid nisi dolorum <strong>laborum dict</strong></span>
        </div>
      </div>
      <div class="marketpy_col_lg_4">
        <div class="benefit_inner">
          <img src="{% static 'img/icons/02.svg' %}">
          <span>Aliquid nisi dolorum <strong>laborum dict</strong></span>
        </div>
      </div>
      <div class="marketpy_col_lg_4">
        <div class="benefit_inner">
          <img src="{% static 'img/icons/03.svg' %}">
          <span>Aliquid nisi dolorum <strong>laborum dict</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>



{% endblock %}