{% extends 'store/base.html' %}

{% load static %}

{% block content %}

<section id="banner_home">
  <div class="marketpy_container_fluid">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        {% include 'store/global/components/banner_carousel.html' %}
      </div>
    </div>
  </div>
</section>

<section id="benefit_section">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_4">
        <div class="benefit_inner">
          <img src="{% static 'img/icons/01.svg' %}">
          <span>Aliquid nisi dolorum <strong>laborum dict</strong></span>
        </div>
      </div>
      <div class="marketpy_col_lg_4">
        <div class="benefit_inner">
          <img src="{% static 'img/icons/02.svg' %}">
          <span>Aliquid nisi dolorum <strong>laborum dict</strong></span>
        </div>
      </div>
      <div class="marketpy_col_lg_4">
        <div class="benefit_inner">
          <img src="{% static 'img/icons/03.svg' %}">
          <span>Aliquid nisi dolorum <strong>laborum dict</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mini_banner_home">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_6">
        <img src="{% static 'img/mini-banner-01.png' %}">
      </div>
      <div class="marketpy_col_lg_6">
        <img src="{% static 'img/mini-banner-02.png' %}">
      </div>
    </div>
  </div>
</section>

<section id="products_list_home">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        <h2>Products on Sale</h2>
      </div>
    </div>
    <div class="marketpy_row">
      {% for product in products %}
        {% include 'store/product/components/product_card.html' %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="video_home">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_8 marketpy_offset_lg_2">
        <h2>The story of Python, by its creator</h2>
        <p>Learn more about Python's creator, Guido Van Rossum, his pioneering work with the Python programming language, and the status of the community today.</p>
      </div>
    </div>
    <div class="marketpy_row">
      <div class="marketpy_col_lg_8 marketpy_offset_lg_2">
        <iframe src="https://www.youtube.com/embed/J0Aq44Pze-w?si=NwAsYRUUWdFNo4Xq&amp;controls=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section id="customer_testimonials">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        <h2>What our customers are saying about the store</h2>
      </div>
    </div>
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        {% include 'store/global/components/testimonials_carousel.html' %}
      </div>
    </div>
  </div>
</section>

{% endblock %}