{% extends 'store/base.html' %}

{% load static %}

{% block content %}

{% include 'store/global/components/title_header.html' %}

<section id="shopping_cart">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_8">
        <div class="list_shopping">
          <div class="card_shopping">
            <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
            <div class="price">
              <h5>T-shirt Caro Lines</h5>
              <p>Price: <strong>$ 84.00</strong></p>
            </div>
            <div class="itens">
              <button>-</button>
              <input value="2" maxlength="19">
              <button>+</button>
            </div>
            <div class="itens">
              <button>Remove</button>
            </div>
          </div>
          <div class="card_shopping">
            <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
            <div class="price">
              <h5>T-shirt Caro Lines</h5>
              <p>Price: <strong>$ 84.00</strong></p>
            </div>
            <div class="itens">
              <button>-</button>
              <input value="2" maxlength="19">
              <button>+</button>
            </div>
            <div class="itens">
              <button>Remove</button>
            </div>
          </div>
          <div class="card_shopping">
            <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
            <div class="price">
              <h5>T-shirt Caro Lines</h5>
              <p>Price: <strong>$ 84.00</strong></p>
            </div>
            <div class="itens">
              <button>-</button>
              <input value="2" maxlength="19">
              <button>+</button>
            </div>
            <div class="itens">
              <button>Remove</button>
            </div>
          </div>
          <div class="card_shopping">
            <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
            <div class="price">
              <h5>T-shirt Caro Lines</h5>
              <p>Price: <strong>$ 84.00</strong></p>
            </div>
            <div class="itens">
              <button>-</button>
              <input value="2" maxlength="19">
              <button>+</button>
            </div>
            <div class="itens">
              <button>Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="marketpy_col_lg_4">
        <div class="summary_cart">
          <div class="header_summary">
            <h5>Summary Cart</h5>
          </div>
          <hr>
          <div class="body_summary">
            <p><strong>Subtotal</strong><span>$670</span></p>
            <p><strong>Shipping</strong><span>$5</span></p>
          </div>
          <div class="footer_summary">
            <h6>Total <span>$675.00</span></h6>
          </div>
          <hr>
          <a href="#" class="marketpy_btn_light">Place Order</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}