{% load static %}

  <header>
    <div class="marketpy_menubar">
      <div class="marketpy_feature_menu">
        <div class="marketpy_container">
          <div class="marketpy_row">
            <div class="marketpy_col_lg_2">
              <a href="{% url 'dashboard' %}" class="marketpy_brand">
                <!--<img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">-->
                <h6>Market<span>Py</span></h6>
              </a>
            </div>
            <div class="marketpy_col_lg_2">
              <p>Pages / <a href="#">Dashboard</a></p>
              <h6>Dashboard</h6>
            </div>
            <div class="marketpy_col_lg_8">
              <form action="">
                <input type="text" placeholder="O que você procura?">
                <button><i class="fi fi-rr-search"></i></button>
              </form>
              <button><i class="fi fi-rr-user"></i> Sign In</button>
              <button><i class="fi fi-rr-settings"></i></button>
              <button><i class="fi fi-rr-bell"></i></button>
            </dev>
          </div>
        </div>
      </div>
    </div>
  </header>