{% extends 'store/base.html' %}

{% block content %}

<section id="productDetails">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_6">
        {% include 'store/product/components/product_carousel.html' %}
      </div>
      <div class="marketpy_col_lg_6">
        {% include 'store/product/components/product_details.html' %}
      </div>
    </div>
  </div>
</section>

<section id="productDescription">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        {% include 'store/product/components/product_description.html' %}
      </div>
      <div class="marketpy_col_lg_12">
        {% include 'store/product/components/product_rating.html' %}
      </div>
    </div>
  </div>
</section>

<section id="customer_testimonials">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        <h2>What our customers are saying about the store</h2>
      </div>
    </div>
    <div class="marketpy_row">
      <div class="marketpy_col_lg_12">
        {% include 'store/global/components/testimonials_carousel.html' %}
      </div>
    </div>
  </div>
</section>
  
{% endblock %}