{% extends 'store/base.html' %}

{% load static %}

{% block content %}

{% include 'store/global/components/title_header.html' %}

<section id="profile">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_3">
        <div class="menu_profile">
          <a href="http://127.0.0.1:8000/my-profile">My Profile</a>
          <a class="active" href="http://127.0.0.1:8000/my-purchases">My Purchases</a>
          <a href="http://127.0.0.1:8000/wishlist">Wishlist</a>
          <a href="http://127.0.0.1:8000/account-settings">Settings</a>
          <a href="http://127.0.0.1:8000/">Logout</a>
        </div>
      </div>
      <div class="marketpy_col_lg_9">
        <div class="box_purchased">
          <div class="item_mosaic">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <span><i class="fi fi-rr-square-plus"></i></span>
          </div>
          <div class="item_details">
            <h4>Order Details</h4>
            <p>Order No.: <strong>4581922834</strong></p>
            <p>Order date: <strong>09/25/2023</strong></p>
            <p>Total order: <strong>R$ 216.50</strong></p>
            <p>Delivery Forecast: <strong>02 Out</strong></p>
            <a href=""><i class="fi fi-rr-headset"></i> Speak with support</a>
            <a href=""><i class="fi fi-rr-cross-circle"></i> Cancel purchase</a>
          </div>
        </div>
        <div class="box_purchased">
          <div class="item_mosaic">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <span><i class="fi fi-rr-square-plus"></i></span>
          </div>
          <div class="item_details">
            <h4>Order Details</h4>
            <p>Order No.: <strong>4581922834</strong></p>
            <p>Order date: <strong>09/25/2023</strong></p>
            <p>Total order: <strong>R$ 216.50</strong></p>
            <p>Delivery Forecast: <strong>02 Out</strong></p>
            <a href=""><i class="fi fi-rr-headset"></i> Speak with support</a>
            <a href=""><i class="fi fi-rr-cross-circle"></i> Cancel purchase</a>
          </div>
        </div>
        <div class="box_purchased">
          <div class="item_mosaic">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <span><i class="fi fi-rr-square-plus"></i></span>
          </div>
          <div class="item_details">
            <h4>Order Details</h4>
            <p>Order No.: <strong>4581922834</strong></p>
            <p>Order date: <strong>09/25/2023</strong></p>
            <p>Total order: <strong>R$ 216.50</strong></p>
            <p>Delivery Forecast: <strong>02 Out</strong></p>
            <a href=""><i class="fi fi-rr-headset"></i> Speak with support</a>
            <a href=""><i class="fi fi-rr-cross-circle"></i> Cancel purchase</a>
          </div>
        </div>
        <div class="box_purchased">
          <div class="item_mosaic">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <span><i class="fi fi-rr-square-plus"></i></span>
          </div>
          <div class="item_details">
            <h4>Order Details</h4>
            <p>Order No.: <strong>4581922834</strong></p>
            <p>Order date: <strong>09/25/2023</strong></p>
            <p>Total order: <strong>R$ 216.50</strong></p>
            <p>Delivery Forecast: <strong>02 Out</strong></p>
            <a href=""><i class="fi fi-rr-headset"></i> Speak with support</a>
            <a href=""><i class="fi fi-rr-cross-circle"></i> Cancel purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}