{% extends 'store/base.html' %}

{% load static %}

{% block content %}

{% include 'store/global/components/title_header.html' %}

<section id="profile">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_3">
        <div class="menu_profile">
          <a href="">My Profile</a>
          <a class="active" href="">My Purchases</a>
          <a href="">Wishlist</a>
          <a href="">Settings</a>
          <a href="">Logout</a>
        </div>
      </div>
      <div class="marketpy_col_lg_9">
        <div class="box_purchased">
          <div class="item_mosaic">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <img src="{% static 'img/img.png' %}">
            <span><i class="fi fi-rr-square-plus"></i></span>
          </div>
          <div class="item_delivery">
            <h4>Delivery Forecast</h4>
            <h5>02 Out</h5>
          </div>
          <div class="item_details">
            <p><strong>Order No.:</strong> 4581922834</p>
            <p><strong>Order date:</strong> 09/25/2023</p>
            <p><strong>Total order:</strong> R$ 216.50</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}