{% extends 'store/base.html' %}

{% load static %}

{% block content %}

{% include 'store/global/components/title_header.html' %}

<section id="profile">
  <div class="marketpy_container">
    <div class="marketpy_row">
      <div class="marketpy_col_lg_4">
        <div class="menu_profile">
          <a href="">My Profile</a>
          <a href="">My Purchases</a>
          <a href="">Wishlist</a>
          <a href="">Settings</a>
          <a href="">Logout</a>
        </div>
      </div>
      <div class="marketpy_col_lg_8">
        <div class="box_profile">
          <h2>My Profile</h2>
          <div class="item_profile">
            <h4><i class="fi fi-rr-cart-arrow-down"></i> <strong>24</strong></h4>
            <h3>Number of Orders</h3>
          </div>
          <div class="item_profile">
            <h4><i class="fi fi-rr-ticket"></i> <strong>04</strong></h4>
            <h3>Coupons Available</h3>
          </div>
          <div class="item_profile">
            <h4><i class="fi fi-rr-coins"></i><strong>$732</strong></h4>
            <h3>Cashback Available</h3>
          </div>
          <div class="item_profile_large">
            <h4><i class="fi fi-rr-shuffle"></i></h4>
            <h3>Exchange and return</h3>
          </div>
          <div class="item_profile_large">
            <h4><i class="fi fi-rr-cross-circle"></i></h4>
            <h3>Cancel purchase</h3>
          </div>
          <div class="item_profile_large">
            <h4><i class="fi fi-rr-headset"></i></h4>
            <h3>Speak with support</h3>
          </div>
          <div class="item_profile_large">
            <h4><i class="fi fi-rr-badge-percent"></i></h4>
            <h3>Exclusive Discounts</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}