{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}MarketPy{% endblock %}</title>
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="" />
    <meta name="author" content="@oliveira-mark" />

    <link rel="stylesheet" type="text/css" href="{% static 'webfonts/uicons-regular-rounded.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">

 </head>
  <body>

    {% include 'store/global/components/header.html' %}
      
    <main onclick="hideCurrentDiv()">
        {% block content %} {% endblock %}
    </main>

    {% include 'store/global/components/footer.html' %}

  </body>
</html>
