{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MarketPy{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">

</head>
<body>
  <header>
    <div class="marketpy_container_fluid">
      <div class="marketpy_row">
        <div class="marketpy_col_lg_12">
          <nav class="marketpy_nav">

            <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy" class="marketpy_brand">

            <ul class="marketpy_menu">
              <li><a href="/">Home</a></li>
              <li><a href="/product/products/">Products</a></li>
            </ul>

          </nav>
        </div>
      </div>
    </div>
  </header>
    
    <main>
      {% block content %}
      {% endblock %}
    </main>
    
    <footer>
      <p>&copy; 2023 MarketPy.</p>
    </footer>
</body>
</html>
