<div class="product_details">
    <div class="row">
        <div class="col_12">
            <h1>Men's Running Shoes - Lightweight and Breathable</h1>
            <p>SKU: MRS001-GRE</p>
            <p>Stay comfortable and stylish during your runs with these lightweight and breathable men's running shoes. Designed for performance and comfort, these shoes provide the support you need on the track or trail. Available in multiple colors and sizes.</p>
            <h6><sup>$</sup>89<sub>,00</sub></h6>
            <a href="http://127.0.0.1:8000/shopping-cart/" class="marketpy_btn_solid"><i class="fi fi-rr-shopping-cart"></i> Add to Cart!</a>
            <a href="http://127.0.0.1:8000/shopping-cart/" class="marketpy_btn_light"><i class="fi fi-rr-heart"></i> Add to Cart!</a>
        </div>
    </div>
</div>