/* MarketPy project's styles file */

.marketpy_nav {
  background-color: #fbfbfb;
  border-bottom: 1px #fff solid;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.marketpy_menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}



.marketpy_card_product {
  max-width: 350px;

  img {
    width: 100%;
  }
}


.marketpy_card_product {
  max-width: 350px;
  margin: 50px auto;
}