{% load static %}

  <header>
    <div class="marketpy_topbar">
      <div class="marketpy_container">
        <div class="marketpy_row">
          <div class="marketpy_col_12">
            <h6>Aliquid nisi dolorum laborum dict <strong>80% OFF!</strong></h6>
          </div>
        </div>
      </div>
    </div>

    <div class="marketpy_menubar">
      <div class="marketpy_feature_menu">
        <div class="marketpy_container">
          <div class="marketpy_row">
            <div class="marketpy_col_lg_2">
              <a href="./" class="marketpy_brand">
                <!--<img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">-->
                <h6>Market<span>Py</span></h6>
              </a>
            </div>
            <div class="marketpy_col_lg_4">
              <form action="">
                <input type="text" placeholder="O que você procura?">
                <button><i class="fi fi-rr-search"></i></button>
              </form>
            </div>
            <div class="marketpy_col_lg_6">
              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_support')">
                <i class="fi fi-rr-info"></i>
                Help and Support

                <div class="marketpy_menu_dropdown" id="dropdown_support">
                  <p><strong>Support On-line 24/7</strong></p>
                  <a href="">
                    <i class="fi fi-rr-phone-call"></i>
                    +01 423 2353-2344
                  </a>
                  <a href="">
                    <i class="fi fi-rr-envelope"></i>
                    contact@marketpy.com
                  </a>
                  <a href="">
                    <i class="fi fi-rr-browser"></i>
                    Contact Form
                  </a>

                  <hr>
                  <p><strong>Return and Exchange Policy</strong></p>
                  <a href="">
                    <i class="fi fi-rr-shuffle"></i>
                    Access exchange page
                  </a>

                  <hr>
                  <p><strong>Opening Hours</strong></p>
                  <p>Monday to Friday from 9:00 to 18:00</p>

                </div>

              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_account')">
                <i class="fi fi-rr-user"></i>
                My Account

                <div class="marketpy_menu_dropdown" id="dropdown_account">
                  <p><strong>Hello, Marcos! Goodnight :&rpar;</strong></p>
                  <a href="">
                    <i class="fi fi-rr-user"></i>
                    My Profile
                  </a>
                  <a href="">
                    <i class="fi fi-rr-tags"></i>
                    My Orders
                  </a>
                  <a href="">
                    <i class="fi fi-rr-exit"></i>
                    Logout
                  </a>

                </div>

              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_cart')">
                <i class="fi fi-rr-shopping-cart"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_cart">
                  <p><strong>Items in your shopping cart:</strong></p>
                  <a href="">
                    <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
                    <div>
                      <h5>T-shirt Caro Lines</h5>
                      <p>Price: <strong>$ 84.00</strong></p>
                    </div>
                  </a>
                  <a href="">
                    <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
                    <div>
                      <h5>T-shirt Caro Lines</h5>
                      <p>Price: <strong>$ 84.00</strong></p>
                    </div>
                  </a>
                  <a href="">
                    <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
                    <div>
                      <h5>T-shirt Caro Lines</h5>
                      <p>Price: <strong>$ 84.00</strong></p>
                    </div>
                  </a>

                  <hr>
                  <p>Total cart value: <strong>$ 252.00</strong></p>

                </div>

              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </header>

  <script>
    var currentDivId = null;
  
    function toggleDiv(divId) {
      var div = document.getElementById(divId);
  
      if (currentDivId !== divId) {
        hideCurrentDiv();
        div.classList.remove('fade-out');
        div.classList.add('fade-in');
        div.style.display = 'block';
        currentDivId = divId;
      } else {
        div.classList.remove('fade-in');
        div.classList.add('fade-out');
        currentDivId = null;
        setTimeout(function() {
          div.style.display = 'none';
        }, 500);
      }
    }
  
    function hideCurrentDiv() {
      if (currentDivId !== null) {
        var currentDiv = document.getElementById(currentDivId);
        currentDiv.classList.remove('fade-in');
        currentDiv.classList.add('fade-out');
        setTimeout(function() {
          currentDiv.style.display = 'none';
        }, 500);
        currentDivId = null;
      }
    }

    var sections = document.querySelectorAll('section');
    sections.forEach(function(section) {
      section.addEventListener('click', hideCurrentDiv);
    });
  </script>