{% load static %}

  <header>
    <div class="marketpy_topbar">
      <div class="marketpy_container">
        <div class="marketpy_row">
          <div class="marketpy_col_12">
            <h6>Aliquid nisi dolorum laborum dict <strong>80% OFF!</strong></h6>
          </div>
        </div>
      </div>
    </div>

    <div class="marketpy_menubar">
      <div class="marketpy_feature_menu">
        <div class="marketpy_container">
          <div class="marketpy_row">
            <div class="marketpy_col_lg_2">
              <a href="{% url 'product_list' %}" class="marketpy_brand">
                <!--<img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">-->
                <h6>Market<span>Py</span></h6>
              </a>
            </div>
            <div class="marketpy_col_lg_4">
              <form action="">
                <input type="text" placeholder="O que você procura?">
                <button><i class="fi fi-rr-search"></i></button>
              </form>
            </div>
            <div class="marketpy_col_lg_6">
              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_support')">
                <i class="fi fi-rr-info"></i>
                Help and Support

                <div class="marketpy_menu_dropdown" id="dropdown_support">
                  <p><strong>Support On-line 24/7</strong></p>
                  <a href="">
                    <i class="fi fi-rr-phone-call"></i>
                    +01 423 2353-2344
                  </a>
                  <a href="">
                    <i class="fi fi-rr-envelope"></i>
                    contact@marketpy.com
                  </a>
                  <a href="">
                    <i class="fi fi-rr-browser"></i>
                    Contact Form
                  </a>

                  <hr>
                  <p><strong>Return and Exchange Policy</strong></p>
                  <a href="">
                    <i class="fi fi-rr-shuffle"></i>
                    Access exchange page
                  </a>

                  <hr>
                  <p><strong>Opening Hours</strong></p>
                  <p>Monday to Friday from 9:00 to 18:00</p>

                </div>

              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_account')">
                <i class="fi fi-rr-user"></i>
                My Account

                <div class="marketpy_menu_dropdown" id="dropdown_account">
                  <p><strong>Hello, Marcos! Goodnight :&rpar;</strong></p>
                  <a href="http://127.0.0.1:8000/my-profile">
                    <i class="fi fi-rr-user"></i>
                    My Profile
                  </a>
                  <a href="http://127.0.0.1:8000/my-purchases">
                    <i class="fi fi-rr-tags"></i>
                    My Purchases
                  </a>
                  <a href="http://127.0.0.1:8000/wishlist">
                    <i class="fi fi-rr-tags"></i>
                    My Wishlist
                  </a>
                  <a href="">
                    <i class="fi fi-rr-exit"></i>
                    Logout
                  </a>

                </div>

              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_cart')">
                <i class="fi fi-rr-shopping-cart"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_cart">
                  <p><strong>Items in your shopping cart:</strong></p>
                  <a href="">
                    <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
                    <div>
                      <h5>T-shirt Caro Lines</h5>
                      <p>Price: <strong>$ 84.00</strong></p>
                    </div>
                  </a>
                  <a href="">
                    <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
                    <div>
                      <h5>T-shirt Caro Lines</h5>
                      <p>Price: <strong>$ 84.00</strong></p>
                    </div>
                  </a>
                  <a href="">
                    <img src="{% static 'img/img.png' %}" alt="Logotype MarketPy">
                    <div>
                      <h5>T-shirt Caro Lines</h5>
                      <p>Price: <strong>$ 84.00</strong></p>
                    </div>
                  </a>

                  <hr>
                  <p>Total cart value: <strong>$ 252.00</strong></p>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="marketpy_menucategory">
      <div class="marketpy_category_menu">
        <div class="marketpy_container">
          <div class="marketpy_row">
            <div class="marketpy_col_lg_12">

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_category_01')">
                <i class="fi fi-rr-badge-percent"></i>
                Trending Tech
                <i class="fi fi-rr-angle-small-down"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_category_01">
                  <a href="">Shop All New & Trending</a>
                  <a href="">New PC Gaming</a>
                  <a href="">New Chromebooks</a>
                  <a href="">New Desktop Computers</a>
                  <a href="">Electronics</a>
                </div>
              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_category_03')">
                <i class="fi fi-rr-music"></i>
                Home Theater
                <i class="fi fi-rr-angle-small-down"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_category_03">
                  <a href="">Sound Bars</a>
                  <a href="">Projectors</a>
                  <a href="">DVD & Blu-Ray Players</a>
                  <a href="">Portable Audio</a>
                  <a href="">Bluetooth Speakers</a>
                </div>
              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_category_04')">
                <i class="fi fi-rr-home-location"></i>
                Smart Home
                <i class="fi fi-rr-angle-small-down"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_category_04">
                  <a href="">Smart Assistants & Hubs</a>
                  <a href="">Smart Home Security</a>
                  <a href="">Smart Energy & Lighting</a>
                  <a href="">Pet Tech</a>
                </div>
              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_category_05')">
                <i class="fi fi-rr-database"></i>
                Computers
                <i class="fi fi-rr-angle-small-down"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_category_05">
                  <a href="">Laptops</a>
                  <a href="">Chromebook</a>
                  <a href="">Windows Laptops</a>
                  <a href="">PC Gaming</a>
                  <a href="">Walmart Restored Computers</a>
                  <a href="">Desktops</a>
                  <a href="">Printers & Ink</a>
                  <a href="">Monitors</a>
                  <a href="">Networking</a>
                  <a href="">Computer Accessories</a>
                  <a href="">Computer Components</a>
                  <a href="">Computer Software</a>
                  <a href="">PC Finder</a>
                </div>
              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_category_06')">
                <i class="fi fi-rr-tablet"></i>
                Tablets
                <i class="fi fi-rr-angle-small-down"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_category_06">
                  <a href="">iPad</a>
                  <a href="">Android Tablets</a>
                  <a href="">Restored Tablets</a>
                  <a href="">Kobo eReaders</a>
                  <a href="">Tablet Accessories</a>
                </div>
              </div>

              <div class="marketpy_btn_menu_light" href="#" onclick="toggleDiv('dropdown_category_07')">
                <i class="fi fi-rr-smartphone"></i>
                Cell Phones
                <i class="fi fi-rr-angle-small-down"></i>

                <div class="marketpy_menu_dropdown" id="dropdown_category_07">
                  <a href="">iPhone</a>
                  <a href="">Samsung Galaxy Phones</a>
                  <a href="">5G Phones</a>
                  <a href="">Unlocked Phones</a>
                  <a href="">Prepaid Phones & Plans</a>
                  <a href="">Cell Phone Accessories</a>
                  <a href="">Straight Talk</a>
                  <a href="">AT&T</a>
                  <a href="">Verizon</a>
                  <a href="">Wearable Technology</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    
  </header>

  <script>
    var currentDivId = null;
  
    function toggleDiv(divId) {
      var div = document.getElementById(divId);
  
      if (currentDivId !== divId) {
        hideCurrentDiv();
        div.classList.remove('fade-out');
        div.classList.add('fade-in');
        div.style.display = 'block';
        currentDivId = divId;
      } else {
        div.classList.remove('fade-in');
        div.classList.add('fade-out');
        currentDivId = null;
        setTimeout(function() {
          div.style.display = 'none';
        }, 200);
      }
    }
  
    function hideCurrentDiv() {
      if (currentDivId !== null) {
        var currentDiv = document.getElementById(currentDivId);
        currentDiv.classList.remove('fade-in');
        currentDiv.classList.add('fade-out');
        setTimeout(function() {
          currentDiv.style.display = 'none';
        }, 200);
        currentDivId = null;
      }
    }

    var sections = document.querySelectorAll('section');
    sections.forEach(function(section) {
      section.addEventListener('click', hideCurrentDiv);
    });
  </script>