<div class="box_testimonials">
  <div class="itens_testimonials">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit, sem eu mollis aliquam, mi ex commodo diam, quis suscipit magna lectus in eros. Duis ac lorem quis massa lacinia scelerisque eu ut eros.</p>
    <p>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
    </p>
    <h6>Marcos Oliveira</h6>
  </div>
  <div class="itens_testimonials">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit, sem eu mollis aliquam, mi ex commodo diam, quis suscipit magna lectus in eros. Duis ac lorem quis massa lacinia scelerisque eu ut eros.</p>
    <p>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
    </p>
    <h6>Marcos Oliveira</h6>
  </div>
  <div class="itens_testimonials">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit, sem eu mollis aliquam, mi ex commodo diam, quis suscipit magna lectus in eros. Duis ac lorem quis massa lacinia scelerisque eu ut eros.</p>
    <p>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
      <i class="fi fi-rr-star"></i>
    </p>
    <h6>Marcos Oliveira</h6>
  </div>
</div>